@media screen and (max-width: 500px){
    
    /* Область 1 */
    
    .menu {
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
    }
    .logo_name {
        display: none;
    }
    .img_logo {
        padding: 24px 0 0 18px;
        z-index: 60;
    }
    .list {
        display: none;
    }

    .menu_buttons {
        display: none;
    }

    .nav_burger {
        margin: 0 18px 0 0;
        display: flex;
        position: relative;
        z-index: 50;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 18px;
    }
    .nav_burger span {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #ffffff;
    }
    .nav_burger::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 80%;
        background-color: #ffffff;
        transition: all 0.3s ease 0s;
    }
    .nav_burger::after { bottom: 0 }

    .nav_burger.active span {
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(45deg);
    }
    .nav_burger.active::after {
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(-45deg);
    }

    .burger_button_login {
        display: flex;
    }

    .button_login {
        padding: 0;
        margin: 0;
    }

    .burger_button_register {
        padding: 0;
        display: flex;
    }

    .button_register {
        padding: 0;
        margin: 0;
    }

    .list.open {
        margin-top: 50px;
        padding: 40px 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        height: 60%;
        width: 100%;
        top: 0; bottom: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        background-color: black;
    }

    /* Область 2 */

    .title {
        font-size: 36px;
    }

    .psubtitle {
        padding: 0 44px;
        font-size: 14px;
    }

    .buttonGetStarted {
        margin: 0 118px;
        font-size: 14px;
        width: 139px;
        height: 44px;
    }

    .pic {
        display: none;
    }

    /* Область 3 */

    .requests {
        margin: 0 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #twitter {
        position: relative;
        bottom: 0;
        left: 0;
        transform: rotate(-4deg);
        z-index: 4;
    }
    #facebook {
        position: relative;
        bottom: 0;
        right: 0;
        transform: rotate(-2deg);
        z-index: 2;
    }
    #dribling {
        position: relative;
        right: 0;
        transform: rotate(4deg);
        z-index: 1;
    }

    /* Область 4 */

    .block-green {
        padding: 80px 18px;
    }

    .open-new-tabs {
        font-size: 36px;
    }

    .box-group {
        display: flex;
        flex-direction: column-reverse;
    }

    .group-1 {
        margin: 0;
        padding-bottom: 34px;
        position: relative;
        bottom: 20px;
        z-index: 3;
    }

    .solution-for-discover {
        transform: rotate(1.13deg); 
    }

    .group-2 {
        margin: 0px;
        width: 339px;
        height: 118px;
        position: relative;
        z-index: 1;
    }

    .group-3 {
        margin: 0;
        padding-top: 32px;
        padding-bottom: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        top: 23px;
        z-index: 3;
    }

    .image-1 {
        margin: 0 40px;
        transform: rotate(-35deg);
    }

    .image-4 {
        margin: 0;
        padding: 0 50px 0 30px;
        transform: scaleY(-1);
        rotate: -50deg;
    }

    .black-group-2 {
        width: 291px;
        height: 69px;
        margin: 24px;
    }

    .text-1 {
        font-size: 18px;
    }

    .a-solution-for {
        margin: 0;
        padding: 0 45px;
        font-size: 14px;
    }

    .black-group-2::after {
        content: "";
        position: absolute;
        right: 10px;
        width: 75px;
        height: 65px;
        background: linear-gradient(270deg, #030303 54%, rgba(3, 3, 3, 0.60) 100%);
    }

    .image-3{
        position: relative;
        z-index: 1;
    }

    /* Область 5 */

    .white_container {
        padding: 80px 18px;
        font-size: 36px;
    }

    .gray_text {
        font-size: 36px;
    }

    /* Область 6 */

    .partner_section {
        width: 100%;
    }

    .text {
        margin-top: 100px;
        font-size: 36px;
    }

    .brands {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 0.1fr);
        grid-template-rows: repeat(8, 0.1fr);
        gap: 14px;
        height: 50%;
    }

    .rectangle_20 {
        width: 162px;
        height: 74px;
        margin: 0;
    }

    .box_1 {
        width: 162px;
        height: 74px;
        margin: 0;
    }

    .rectangle_29 {
        width: 162px;
        height: 74px;
        margin: 0;
    }
    
    .box_2 {
        width: 162px;
        height: 74px;
        margin: 0;
    }

    .rectangle_21 {
        width: 162px;
        height: 74px;
        margin: 0;
    }

    .box_3 {
        width: 162px;
        height: 74px;
        margin: 0;
    }

    .rectangle_34 {
        width: 162px;
        height: 74px;
        margin: 0;
    }

    .box_4 {
        width: 162px;
        height: 74px;
        margin: 0;
    }

    .microsoft {
        margin: 0;
        width: 100%;
    }

    .allianz {
        margin: 0;
        width: 100%;
    }

    .upwork {
        margin: 0;
        width: 100%;
    }

    .volvo {
        margin: 0;
        width: 100%;
    }

    .grab {
        margin: 0;
        width: 100%;
    }

    .verizon {
        margin: 0;
        width: 100%;
    }

    .coinbase {
        margin: 0;
        width: 100%;
    }

    .expedia {
        margin: 0;
        width: 100%;
    }

    .airtable {
        margin: 0;
        width: 100%;
    }

    .magento {
        margin: 0;
        width: 100%;
    }

    .carrera {
        margin: 0;
        width: 100%;
    }

    .bonanza {
        margin: 0;
        width: 100%;
    }

    .wetransfer {
        margin: 0;
        width: 100%;
    }

    .suzuki {
        margin: 0;
        width: 100%;
    }

    .algolia {
        margin: 0;
        width: 100%;
    }

    .heineken {
        margin: 0;
        width: 100%;
    }

    /* Область 8 */

    .offer {
        font-size: 36px;
    }

    .switcher {
        padding: 0 50px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        gap: 0;
        font-size: 18px;
    }

    .switch {
        width: 104px;
        height: 44px;
    }

    .slider::before {
        margin: 8px;
    }

    .discount-banner {
        display: flex;
        flex-direction: column-reverse;
        grid-row: 2/6;
        grid-column: 2/6;
    }

    .text-discount {
        padding-left: 60px;
        transform: rotate(6deg);
        font-size: 12px;
    }

    .arrow {
        padding-left: 15px;
        margin-top: 10px;
        transform: scaleY(-1);
        rotate: 30deg;
    }

    .pricing-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 18px;
    }

    /* Область 7 */
    /* блок Лены М */
    .container{
        width: 100%;
        height: 100%;
        padding: 32px 18px;
        margin: 0;
    }
    .brd{
        padding: 32px 18px;
        font-size: 36px;
        width: 100%;
    }
    .img{
        margin-left: 30px;
    }
    .img_1{
        padding-right: 16px;
        width: 64px;
        height: 64px;
    }
    .img_2{
        padding-right: 16px;
        width: 64px;
        height: 64px;
    }
    .img_3{
        padding-right: 16px;
        width: 64px;
        height: 64px;
    }
    .img_4{
        padding-right: 16px;
        width: 64px;
        height: 64px;
    }
    .img_5{
        width: 64px;
        height: 64px;
    }
    .img_6{
        display: none;
    }
    .img_7{
        display: none;
    }
    .img_8{
        display: none;
    }
    .tweet1{
        width: 80%;
        margin-left: 10px;
        font-size: 14px;
    }
    #text1{
        margin-left: 100px;
    }
    #text2{
        margin-left: 100px;
    }
    .tweet2{
        width: 80%;
        margin-left: 10px;
        font-size: 14px;
    }
    #text{
        margin-left: 100px;
    }
    .sign{
        margin-left: 100px;
    }
    .sign_foto{
        height: 150px;
    }
    .ellipsis {
        display: none;
    }
    /* конец блока Лена М */
}