/* Блок Вероники */
@font-face {
  font-family: "Effra";
  src: url(/assets/fonts/Effra-Heavy.ttf);
  font-weight: bold; /* жирное начертание */
}

@font-face {
  font-family: "Effra";
  src: url(/assets/fonts/EffraMedium.ttf); /* обычное начертание */
}

body {
  background-color: #000000; /* Черный фон */
}

.firstPage {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  gap: 0px;
  opacity: 0px;
  position: relative;
}

.h1 {
  position: absolute;
  width: 700px;
  height: 81px;
  left: 370px;
  top: 198px;
}

.title {
  color: #ffffff (255, 255, 255);
  font-family: "Effra", sans-serif;
  font-style: bold;
  font-weight: 900;
  font-size: 72px;
  line-height: 112%;
}

.subtitle {
  color: #8b8b8b;
  font-family: "Effra", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.buttonGetStarted {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;

  width: 180px;
  height: 57px;
  left: 630px;
  top: 478px;

  background: #a8ff35;
  border-radius: 40px;

  /* Get Started 🔥 */
  width: 116px;
  height: 25px;

  font-family: "Effra";
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  color: #000000;
  cursor: pointer;
}

.pic {
  width: 99.42px;
  height: 69.63px;
  left: 828px;
  top: 466px;
}

/* Блок Вики */
.requests{
  background-color: #000000;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

#search {
  background-color: #181818;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1.3em 0.9em 1.3em 3em;
  box-shadow: 20px 20px 15px 3px rgba(0, 0, 0, 2);
}

#search #under {
  padding-right: 0px;
}

.opacity {
  position: relative;
  right: 25px;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  padding-right: 0.8em;
}

.icon_search {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.cross {
  width: 1.1em;
  height: 1.1em;
  margin-top: 4px;
  margin-left: 4px;
  position: relative;
}

main span {
  color: #ffffff;
  font-size: 18px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Конец блока Вики */

/* Блок Лены */
.block-green {
  box-sizing: border-box;
  background: #a8ff35;
  height: 1326px;
  position: relative;
}
.container-green,
.container-green * {
  box-sizing: border-box;
}
.container-green {
  height: 825.62px;
  position: relative;
}

.group1 {
  width: 99.42px;
  height: 124.42px;
  position: static;
}
.you-just {
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 708.93px;
  top: 350.26px;
  width: 94.11px;
  height: 49.85px;
  transform-origin: 0 0;
  transform: rotate(3.419deg) scale(0.985, 1.015);
}
.image-1 {
  width: 49.06px;
  height: 37.86px;
  position: absolute;
  left: 743.52px;
  top: 426.41px;
  overflow: visible;
}
.a-solution-for * {
  box-sizing: border-box;
}
.a-solution-for {
  color: #000000;
  text-align: center;
  font-family: efra "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 94px;
  top: 729.12px;
  width: 666px;
  height: 96.5px;
}

.group-2 {
  width: 95.42px;
  height: 129.68px;
  position: static;
}
.image-2 {
  width: 49.06px;
  height: 37.86px;
  position: absolute;
  left: 100px;
  top: 427.13px;
  overflow: visible;
}
.solution-for-discover {
  color: #000000;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 58.92px;
  top: 441.4px;
  width: 94.11px;
  height: 49.85px;
  transform-origin: 0 0;
  transform: rotate(3.419deg) scale(0.985, 1.015);
}
.block-white,
.block-white * {
  box-sizing: border-box;
}
.block-white {
  background: #f5f5f5;
  border-radius: 16px;
  height: 360.99px;
  width: 502px;
  position: absolute;
  left: 176px;
  top: 260.91px;
}
.open-new-tabs {
  color: black;
  text-align: center;
  font-family: "Effra-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 854px;
  height: 153.69px;
}

.block-black {
  width: 341.23px;
  height: 146.54px;
  position: static;
}
.element-1 {
  background: #030303;
  width: 341.23px;
  height: 146.54px;
  position: absolute;
  left: 256px;
  top: 368.13px;
}
.group-3 {
  display: flex;
  flex-direction: row;
  gap: 15.87px;
  align-items: center;
  justify-content: flex-start;
  width: 277.74px;
  height: 56.72px;
  position: absolute;
  left: 295.68px;
  top: 413.04px;
}
.text-1 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 23.80644989013672px;
  font-weight: 400;
  position: relative;
}
.image-3 {
  flex-shrink: 0;
  width: 31.74px;
  height: 31.74px;
  position: relative;
  overflow: visible;
}
.image-4 {
  flex-shrink: 0;
  width: 31.74px;
  height: 31.74px;
  position: relative;
  overflow: visible;
}
.container{
    height: 124px;
    width: 1180px;
    display: flex;
    margin: 24px;
}
h2{
    font-size: 55px;
    font-family: Effra;
    font-style: normal;
    text-align: center;
    background-color: #FAFAFA;
    width: 1180px;
    height: 70px;
    justify-content: space-evenly;
}
.image{
    margin: auto;
    gap:24px;
}
main{
    background-color: #FAFAFA;
}

/* Блок Светы */
header {
  background-color: #000000;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:100%;
       }

.menu {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items:center;
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
         }    

.logo {
  display:flex;
  flex-direction: row;
  align-items: center;
               }

.img_logo {
  height: 40px;
  width: 40px;
  padding-right:11px;
  padding-left:20px;
       }

.logo_name {
  font-family: 'Inter'; sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  height: 24px;
  width: 114px;
  padding-right:50px;
  color:#FFFFFF;
       }

.list {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  font-family: 'Effra'; sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  width:488px;
  height:18px;
  list-style-type: none;
  padding-right:50px;
     }


  .list_item_1 {
      flex:none;
      order: 0;
      flex-grow: 0;
              }

  .list_item_2 {
      flex:none;
      order: 1;
      flex-grow: 0;
              }
  
  .list_item_3 {
      flex:none;
      order: 2;
      flex-grow: 0;
               }

  .list_item_4 {
      flex:none;
      order: 3;
      flex-grow: 0;
              }

  .list_item_5 {
      flex:none;
      order: 4;
      flex-grow: 0;
               }

  .list_item_6 {
      flex:none;
      order: 5;
      flex-grow: 0;
             }    

.menu_buttons {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  font-family: 'Effra';sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}
.button_login {
  width: 54px;
  height: 18px;
  background-color: #000000;
  color: #FFFFFF;
  margin-right:10px;
         }

.button_register {
  width: 120px;
  height: 42px;
  background-color: #FFFFFF;
  color:#000000; 
  border-radius: 40px;
   }

   a:hover {
      color: rgb(43, 10, 232)
  }
  
  a:link {
      color: rgb(241, 7, 163)
  }
  
  a:visited {
      color: aqua
  }

